html{
    font-size:62.5%;
}

/*@font-face {
    font-family: "Mix";
    src: url("../fonts/The\ Mix-\ Regular.ttf") format("ttf"),
        url("../fonts/The\ Mix-\ Bold.ttf") format("ttf"),
        url("../fonts/The\ Mix-\ Italic.ttf") format("ttf"),
        url("../fonts/The\ Mix-\ ItalicBold.ttf") format("ttf");
         
  }*/

  @font-face {
    font-family: 'Mix Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/The Mix- Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Mix Bold';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/The Mix- Bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Futura PT';
    src:url('FuturaPT-LightObl.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

:root{
    --main-text-font-family:'Lora', serif;
    --icons-text-font-family:'Futura PT, Arial, san-serif';
    --logoletters-font-family:'Luxurious Script', cursive;
    --namestext-font-family:'Playfair Display SC', serif;
    --cursivetitles-font-family:'Comforter Brush', cursive;
}

body{
    margin:0;
    padding:0;
    font:var(--main-text-font-family);
    background-color:#F7F7F5;
    font-size:1.8rem;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}

p{
    margin:0;
}

.wrapper{
    display:grid;
    width:39rem;
    grid-template-columns: 2rem 1fr 2rem;
    margin:0 auto;
    grid-template-areas: "mainBlock mainBlock mainBlock"
                         ". newEra ."
                         "invitation invitation invitation"
                         ". calender ."
                         "mapBlock mapBlock mapBlock"
                         ". style ."
                         "happyWait happyWait happyWait"
                         "timerBlock timerBlock timerBlock";
}



/*Menu*/

.menu{
    width:100%;
    height:6rem;
    background-color:#fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 2rem 0 2rem;
    box-shadow: 0rem 0.2rem 0.2rem rgba(184, 180, 180, 0.3);
    position:fixed;
    z-index:10000;
}
.navMenu{
    line-height:2.8rem;
}

.iconsBlock{
    display:flex;
    align-items: center;
    margin-top:0.5rem;
}

.musciBlock{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:1.5rem;
}
.musicButton{
    width:2.5rem;
    height:2.5rem;
    margin-bottom:0.2rem;
    cursor:pointer;
}

.musicButton-title{
    font-family: var(--icons-text-font-family);
    font-size:1rem;
    line-height:0;
    margin-top:1.2rem;
}

.burgerMenu{
    cursor:pointer;
    padding-top:0.3rem;
}
.burger-icon{
    display:block;
    width:3rem;
    height:0.3rem;
    margin:0 0 0.5rem 0;
    background-color:#000;
}

.burgerMenu-icons{
    display:flex;
    flex-direction: column;
}

.burgerMenu-items{
    display:none;
}

/*Title*/

.mainBlock{
   grid-area:mainBlock;
   background-image: url("../images/main.png");
   background-size: 140%;
   background-position:-5rem 9rem;
   background-repeat: no-repeat;
   width:100%;
   height:100vh;
   display:flex;
   flex-direction: column;
   position:relative;
   z-index:100;
}

.mainBlock-text{
    position:absolute;
    top:30%;
    left:12%;
    width:30rem;
    height:30rem;
    border-radius:50%;
    margin:0 auto;
    background-color:#F7F7F5;
    outline: 1.3rem solid rgba(228, 227, 227, 0.5);
    z-index:1000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:1.1;
}

.logo{
    font-family: var(--logoletters-font-family);
    font-size:10rem;
    font-weight:100;
    margin-top:-2rem;
    animation-name: scaleText;
    animation-duration: 2s;
}

@keyframes scaleText{
    from{transform:scale(1.65); opacity:0;}
    to{transform:scale(1); opacity:1;}
}

.logoName{
    font-size:3rem;
    font-family: var(--namestext-font-family);
    letter-spacing: 3px;
    opacity:0;
    animation: scaleTextTitle 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes scaleTextTitle{
    from{transform:scale(1.65); opacity:0;}
    to{transform:scale(1); opacity:1;}
}

.date{
    opacity:0;
    animation: scaleTextDate 2s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes scaleTextDate{
    from{transform:scale(1.65); opacity:0;}
    to{transform:scale(1); opacity:1;}
}

.mainBlock-text :last-child{
    margin-top:2rem;
}

.symbol{
    font-size:2.5rem;
    color:#9A9A98;
}

.fa-angle-double-down{
    font-size:2rem;
    position:absolute;
    bottom:3%;
    left:50%;
    transform:translateX(-50%);
    z-index:1000;
}

/*New Era*/
.newEra{
    grid-area: newEra;
    text-align: center;
    font-family: var(--cursivetitles-font-family);
    font-size: 5rem;;
}

.endBlockImage{
    display:block;
    margin:0 auto;
    width:17.8rem;
    margin-top:3rem;
}

/*Invitation*/

.invitation{
    grid-area: invitation;
    overflow: hidden;
    position:relative;
    z-index:100;
}

.invitationBackgroundImage{
    width:120%;
    transform:rotate(-30deg) translateX(-11rem) translateY(-9rem);
    opacity:0.2;
}

.invitationFlowers{
    width:130%;
    overflow-x: hidden;
    transform:rotate(145deg) translateY(8rem) translateX(-8rem);
}

.invitationTitle{
    position:absolute;
    top:8%;
    font-family: var(--cursivetitles-font-family);
    font-size:5rem;
    text-align: center;
    letter-spacing: 5px;
    z-index:1000;
}

.invitationText{
    width:30rem;
    position:absolute;
    top:33%;
    left:50%;
    transform: translateX(-50%);
    display:block;
    text-align: center;
    font-family: var(--namestext-font-family);
    font-size:1.5rem;
    line-height:2.1rem;
    letter-spacing: 1.5px;
    margin-bottom:2rem;
    z-index:1000;
}

.finishedText{
    top:52%;
}

.dateText{
    width:30rem;
    top:58%;
    left:50%;
    transform: translateX(-50%);
}

.placeText{
    top:70%;
    left:50%;
    transform: translateX(-50%);
    font-size:1.8rem;
}


/*Calender*/
.calender{
    grid-area:calender;
    position: relative;
    z-index:100;
}

.calenderTitle{
    margin-top:5rem;
    margin-bottom:3rem;
    font-family: var(--cursivetitles-font-family);
    font-size:5rem;
    text-align: center;
    letter-spacing: 5px;
}

.calenderDays{
    width:75%;
    margin: 0 auto;
    text-align: end;
    line-height: 1.5;
}

.calenderRow{
    position: relative;
    left:-2%;
}

.calenderHeart{
    width:4.6rem;
    position:absolute;
    top:40%;
    right:20%;
    opacity:0;
    animation: scaleCalenderHeart 2s ease-in-out forwards;
    animation-delay: 0.5s;
    z-index:1000;
}

@keyframes scaleCalenderHeart{
    from{transform:scale(1.65); opacity:0;}
    to{transform:scale(1); opacity:1;}
}

.calenderEndBlockImage{
    display:block;
    margin:0 auto;
    width:17.8rem;
    margin-top:8rem;
}

/*Map*/
.mapBlock{
    grid-area:mapBlock;
}

.mapText{
    display:block;
    width:32rem;
    margin: 0 auto;
    text-align: center;
    font-family: var(--namestext-font-family);
    font-size:1.5rem;
    line-height:2.1rem;
    letter-spacing: 1.5px;
    margin-bottom:2rem;
}

.mapSection{
    display:flex;
    box-shadow: 0rem 0.5rem 0.5rem rgba(184, 180, 180, 0.3);
    justify-content: space-around;
}

/*Style*/
.style{
    grid-area:style;
    margin-bottom:2rem;
}

.styleTitle{
    margin-top:5rem;
    margin-bottom:3rem;
    font-family: var(--cursivetitles-font-family);
    font-size:5rem;
    text-align: center;
    letter-spacing: 5px;
}

.styleText{
    width:26rem;
    display:block;
    margin:0 auto;
    text-align: center;
    font-family: var(--namestext-font-family);
    font-size:1.5rem;
    line-height:2.1rem;
    letter-spacing: 1.5px;
    margin-bottom:2rem;
}

.styleIconsBlock{
    width:25.8rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-top:5rem;
}

.styleIcon{
    display:block;
    margin: 0 auto;;
    width:7rem;
    margin-bottom:3rem;
}

.styleIconBlock{
    width:12.9rem;
}
.iconText{
    width:12.9rem;
    font-size:1.2rem;
    line-height:1.2;
}

.styleTitleColorsText{
    width:26rem;
    display:block;
    margin:0 auto;
    text-align: center;
    font-family: var(--namestext-font-family);
    font-size:1.5rem;
    line-height:2.1rem;
    letter-spacing: 1.5px;
    margin-bottom:2.5rem;
}

.styleColors{
    text-align: center;
}

.styleBlack{
    display:inline-block;
    margin:0 auto;
    width:5.5rem;
    height:5.5rem;
    border-radius: 50%;
    background-color: #000;
    margin-right:2.5rem;
    opacity:0;
    animation: scaleStyleBlack 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes scaleStyleBlack{
    from{transform:scale(0.1); opacity:0;}
    to{transform:scale(1); opacity:1;}
}


.styleWhite{
    display:inline-block;
    margin:0 auto;
    width:5.5rem;
    height:5.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity:0;
    animation: scaleStyleWhite 2s ease-in-out forwards;
    animation-delay: 0.4s;
}

@keyframes scaleStyleWhite{
    from{transform:scale(0.1); opacity:0;}
    to{transform:scale(1); opacity:1;}
}

/*HappyWaitText*/
.happyWait{
    grid-area:happyWait;
    position:relative;
    z-index:100;
    overflow:hidden;
}

.happyWaitFirstLine{
    position:absolute;
    top:13%;
    left:50%;
    transform:translateX(-50%);
    width:10rem;
    height:0.1rem;
    background-color:#000;
    border-color:#9b9a9a;
    z-index:1000;
}

.happyWaitText{
    text-align:center;
    width:30rem;
    position: absolute;
    top:28%;
    left:50%;
    transform:translateX(-50%);
    font-family: var(--cursivetitles-font-family);
    font-size:5rem;
    line-height:1;
    z-index:1000;
}

.happyWaitSecondLine{
    position:absolute;
    bottom:30%;
    left:50%;
    transform:translateX(-50%);
    width:10rem;
    height:0.1rem;
    background-color:#000;
    border-color:#9b9a9a;
    z-index:1000;
}

/*Timer Block*/

.timerBlock{
   margin-top:-5rem;
   grid-area:timerBlock;
   background-image: url("../images/pair2.jpg");
   background-size: cover;
   background-position: -2rem 0rem;
   background-repeat: no-repeat;
   width:100%;
   height:100vh;
   position:relative;
   z-index:100;
}

.timer{
    position:absolute;
    bottom:7.5%;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color:#fff;
    z-index:1000;
}

.timerDate{
    font-size:2.5rem;
    text-transform: uppercase;
    font-weight:400;
    text-align: center;
    margin-bottom:2rem;
}

.timerNumbers{
    width:23rem;
    display:flex;
    justify-content: space-between;
    font-size:2.5rem;
    margin-top:4rem;
}

.timerNumbersBlock{
    padding-right:2rem;
    border-right:0.1rem solid #fff;
}


.timerNumbers :last-child{
    border-right:none;
}

.timerNumbersItemsText{
    font-size:1.6rem;
    margin-bottom:1rem;
}

/*MEDIA*/

@media(min-width:768px){
    .wrapper{
        width:76.8rem;
    }

    .menu{
        width:100%;
    }

    .mainBlock{
        grid-area:mainBlock;
        background-image: url("../images/main.png");
        background-size: 140%;
        background-position:-11rem 9rem;
        background-repeat: no-repeat;
        width:100%;
        height:100vh;
        display:flex;
        flex-direction: column;
        position:relative;
        z-index:100;
     }

     .mainBlock-text{
        position:absolute;
        top:44%;
        left:20%;
        width:47rem;
        height:47rem;
        border-radius:50%;
        margin:0 auto;
        background-color:#F7F7F5;
        outline: 1.3rem solid rgba(228, 227, 227, 0.5);
        z-index:1000;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height:1.1;
    }
}